@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../font/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  font-family: 'Inter', sans-serif; /* Use the font family */
  font-weight: 400; /* Set default font weight */
  line-height: 1.15; /* Maintain line height */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling on mobile */
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight */
}
.banner__img-mobile {
  display: block!important;
}
@media (min-width: 991px) {
  .banner__img-mobile {
    display: none!important;
  }
}
.banner__img {
  position: absolute;
  max-width: 845px;
  top: 0;
  right: 0;
  z-index: -1;
  margin-top: 94px;
}
.banner__img img {
  max-width: 100%;
}
@media (max-width: 1280px) {
  .banner__img {
    max-width: 674px;
  }
}
@media (max-width: 1200px) {
  .banner__img {
    max-width: 526px;
  }
}
@media (max-width: 991px) {
  .banner__img {
    max-width: 321px;
  }
}
@media (max-width: 767px) {
  .banner__img {
    position: relative;
    max-width: 100%;
    min-width: 100vw;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
@media (max-width: 389px) {
  .banner__img img{
      height: auto;
  }
} 
  h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    text-transform: uppercase;
    margin-bottom: 14px;
  }
  .banner {
    padding-top: 207px;
    position: relative;
    padding-bottom: 200px;
  }
  .banner__content {
    max-width: 700px;
  }
  .banner__description {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    max-width: 564px;
  }
  .banner__buttons {
    margin-top: 45px;
    display: inline-block;
    width: 100%;
  }
  .banner__button {
    margin-right: 23px;
  }
  .banner__button:last-of-type {
    margin-right: 0;
  }
  
  @media (max-width: 1280px) {
    .banner__content {
      max-width: 488px;
    }
    .banner__description {
      font-size: 24px;
      line-height: 40px;
    }
  }
  @media (max-width: 1200px) {
    .banner {
      padding-top: 150px;
      padding-bottom: 100px;
    }
    .banner__content {
      max-width: 394px;
    }
    .banner__description {
      font-size: 20px;
      line-height: 135.52%;
    }
  }
  @media (max-width: 767px) {
    .banner {
      padding-top: 104px;
      padding-bottom: 58px;
    }
    .banner__container{
      min-height: 587px;
    }
    .banner__content {
      text-align: center;
      max-width: 357px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 33px;
    }
    .banner__buttons {
      text-align: center;
      margin-top: 35px;
    }
    .banner__button {
      margin-right: 17px;
    }
  }

 

 