h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 143.02%;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  margin-bottom: 75px;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #242424 0%, #2E2BBE 100%);
  color: #ffffff;
}

@media (max-width: 767px) {
  body {
    background: linear-gradient(180deg, #252526 0%, #2E2BBD 100%);
  }
}
@media screen and (max-width: 1650px) and (min-width: 1200px) {
  body {
    zoom: 0.8;
  }
}
a {
  color: #fff;
  text-decoration: none;
  text-underline-position: under;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.primary-btn, .secondary-btn {
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 19.5px 42px;
  border-radius: 10px;
  transition: 0.3s;
  min-width: 227px;
  text-align: center;
  text-decoration: none;
}
.primary-btn:hover, .secondary-btn:hover {
  text-decoration: none;
  background-color: #fff;
  color: #0051FD;
}

.primary-btn {
  background-color: #0051FD;
  color: #fff;
}

.secondary-btn {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 144px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}
#wrapper:before {
  content: "";
  position: absolute;
  width: 1675px;
  height: 1675px;
  right: -30%;
  top: 284px;
  border-radius: 100%;
  display: inline-block;
  background: rgba(0, 81, 255, 0.7);
  filter: blur(239px);
  z-index: -1;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .primary-btn, .secondary-btn {
    padding: 12px 20px;
    border-radius: 6px;
    transition: 0.3s;
    min-width: 145px;
    font-size: 20px;
    line-height: 24px;
  }
  #wrapper:before {
    width: 1200px;
    height: 1200px;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 16px;
  }
  #wrapper {
    padding-top: 114px;
  }
  #wrapper:before {
    width: 772px;
    height: 772px;
    top: 228px;
    filter: blur(100px);
    right: -28%;
  }
}
@media (max-width: 991px) {
  h2 {
    text-transform: uppercase;
    font-size: 28px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  .primary-btn, .secondary-btn {
    border-radius: 10px;
  }
  #wrapper {
    padding-top: 92px;
  }
  #wrapper:before {
    top: 279px;
    right: -110%;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  z-index: 999;
  transition: 0.3s;
}
.header.scrolling {
  background-color: rgba(36, 36, 36, 0.646);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.header.scrolling .header__wrap {
  transform: translateY(-55px);
}
.header.scrolling .lang__list {
  background-color: rgba(0, 0, 0, 0.483);
  border-radius: 10px;
  width: 100px;
  right: -20px;
  padding-right: 10px;
}
.header__wrap {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 144px;
  transition: ease-in-out 0.3s;
}
.header__logo img {
  min-width: 44px;
  max-width: 100%;
  flex-shrink: 0;
}
.header .nav {
  max-width: 884px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: 192px;
}
.header .nav__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .nav__item {
  display: inline-block;
  padding: 0px 20px;
}
.header .nav__item:first-of-type {
  padding-left: 0;
}
.header .nav__item:last-of-type {
  padding-right: 0;
}
.header .nav__link {
  text-decoration: none;
  position: relative;
}
.header .nav__link:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -7px;
  left: 0px;
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transform-origin: center right;
  transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1);
}
.header .nav__link:hover:before {
  transform: scaleX(1);
  transform-origin: center left;
}
.header .theme {
  margin-left: auto;
  position: relative;
}
.header .theme__text {
  padding-right: 22px;
}
.header .theme__list {
  display: flex;
  position: absolute;
  top: -2px;
  left: 60px;
}
.header .theme__item {
  width: 31px;
  height: 31px;
  display: inline-block;
  margin-left: 6px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.header .theme__item:hover {
  transform: scale(0.7);
}
.header .theme__item_dark {
  background: linear-gradient(180deg, #004D9C 0%, #0052FF 100%);
}
.header .theme__item_light {
  background: linear-gradient(180deg, #FFFFFF 0%, #D7D7D7 100%);
}
.header .theme__item_active {
  pointer-events: none;
}
.header .lang {
  margin-left: 186px;
  text-align: right;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
}
.header .lang:hover .lang__active:before {
  transform: rotate(180deg);
}
.header .lang:hover .lang__list {
  opacity: 1;
  pointer-events: all;
}
.header .lang__list {
  position: absolute;
  font-weight: 300;
  padding-top: 5px;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
.header .lang__link {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
}
.header .lang__active {
  font-weight: 600;
  position: relative;
}
.header .lang__active:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 8px;
  right: -21px;
  border-radius: 4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #ffffff;
  transition: 0.3s;
}
.header .burger {
  width: 43px;
  height: 43px;
  border-radius: 4px;
  z-index: 10;
  position: relative;
  margin-left: auto;
}
.header .burger > * {
  pointer-events: none;
}
.header .burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -22px;
  margin-top: -1.5px;
}
.header .burger span, .header .burger span::before, .header .burger span::after {
  display: block;
  width: 43px;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}
.header .burger span::before, .header .burger span::after {
  position: absolute;
  content: "";
}
.header .burger span::before {
  top: -9px;
}
.header .burger span::after {
  top: 9px;
}
.header .burger.clicked span {
  background-color: transparent;
}
.header .burger.clicked span::before {
  transform: translateY(9px) rotate(45deg);
}
.header .burger.clicked span::after {
  transform: translateY(-9px) rotate(-45deg);
}
.header .burger.clicked span:before, .header .burger.clicked span:after {
  background-color: #ffffff;
}
.header .burger:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header__wrap {
    height: 114px;
  }
  .header .nav {
    margin-left: 60px;
  }
  .header .theme {
    margin-left: 50px;
  }
  .header .lang {
    margin-left: 122px;
  }
}
@media (max-width: 991px) {
  .header.scrolling {
    padding-bottom: 0;
  }
  .header.scrolling .header__wrap {
    transform: none;
  }
  .header__wrap {
    align-items: center;
    justify-content: space-between;
  }
  .header__logo {
    order: 2;
    margin-left: auto;
  }
  .header .lang {
    order: 1;
    margin-left: 0;
  }
  .header .burger {
    order: 3;
  }
  .header .nav {
    background: linear-gradient(180deg, #004D9C 0%, #0052FF 100%);
    position: fixed;
    max-width: 100%;
    margin-left: 0;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    padding: 127px 40px 60px 40px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .header .nav.show {
    transform: translateX(0px);
  }
  .header .nav.show ul li {
    transform: translateX(0px);
    opacity: 1;
  }
  .header .nav__item {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .header.scrolling .header__wrap {
    height: 92px;
  }
  .header__wrap {
    height: 200px;
  }
}


/* animations on scroll  */
[data-inviewport=obs__full-width]:before {
  content: "";
  position: absolute;
  background: #F5F5F5;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: 1s;
  display: flex;
}
.watched[data-inviewport=obs__full-width]:before {
  width: 0%;
}
[data-inviewport=obs__slide-up] {
  position: relative;
  transition: 1s;
  opacity: 0;
  transform: translateY(20px);
}
.watched[data-inviewport=obs__slide-up] {
  opacity: 1;
  transform: none;
}
[data-inviewport=obs__slide-down] {
  position: relative;
  transition: 1s;
  opacity: 0;
  transform: translateY(-20px);
}
.watched[data-inviewport=obs__slide-down] {
  opacity: 1;
  transform: none;
}
[data-inviewport=obs__scale] {
  position: relative;
  opacity: 0;
  transition: 0.3s;
  transform: scale(0.5);
}
[data-inviewport=obs__scale]:nth-of-type(1) {
  transition-delay: 0.1s;
}
[data-inviewport=obs__scale]:nth-of-type(2) {
  transition-delay: 0.12s;
}
[data-inviewport=obs__scale]:nth-of-type(3) {
  transition-delay: 0.14s;
}
[data-inviewport=obs__scale]:nth-of-type(4) {
  transition-delay: 0.16s;
}
[data-inviewport=obs__scale]:nth-of-type(5) {
  transition-delay: 0.18s;
}
[data-inviewport=obs__scale]:nth-of-type(6) {
  transition-delay: 0.2s;
}
[data-inviewport=obs__scale]:nth-of-type(7) {
  transition-delay: 0.22s;
}
[data-inviewport=obs__scale]:nth-of-type(8) {
  transition-delay: 0.24s;
}
[data-inviewport=obs__scale]:nth-of-type(9) {
  transition-delay: 0.26s;
}
.watched[data-inviewport=obs__scale] {
  opacity: 1;
  transform: none;
}
/* end animations on scroll  */

.clients {
  padding-top: 129px;
  padding-bottom: 90px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.clients__item {
  margin-bottom: 15px;
}
.clients__item img {
  max-width: 114px;
}
.clients__item-info {
  font-weight: 400;
  font-size: 24px;
  line-height: 100.52%;
  text-align: left;
  margin-bottom: 0;
}
.clients__item-info span {
  font-weight: 700;
  font-size: 48px;
  display: inline-block;
  width: 100%;
}

@media (max-width: 991px) {
  .clients {
    padding-top: 100px;
  }
  .clients__title {
    margin-bottom: 45px;
  }
  .clients__item {
    width: 33.3333%;
    text-align: center;
  }
  .clients__item-info {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .clients {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .clients__item img {
    max-width: 59%;
  }
  .clients__item-info {
    font-size: 18px;
  }
  .clients__item-info span {
    font-size: 24px;
  }
}
.tariffs {
  padding-top: 85px;
  padding-bottom: 90px;
}
.tariffs__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tariffs__item {
  max-width: 409px;
  text-align: center;
  margin-bottom: 70px;
}
.tariffs__item:nth-of-type(1) {
  transition-delay: 0.1s;
}
.tariffs__item:nth-of-type(2) {
  transition-delay: 0.2s;
}
.tariffs__item:nth-of-type(3) {
  transition-delay: 0.3s;
}
.tariffs__item:nth-of-type(4) {
  transition-delay: 0.4s;
}
.tariffs__item:nth-of-type(5) {
  transition-delay: 0.5s;
}
.tariffs__item-wrap {
  border-radius: 15px;
  border: solid 1px #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 49px 70px 62px 70px;
}
.tariffs__item-title {
  font-size: 24px;
  line-height: 29px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 42px;
}
.tariffs__item-title strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 12px;
  display: inline-block;
}
.tariffs__item-list {
  font-weight: 400;
  font-size: 20px;
  line-height: 161.02%;
  letter-spacing: -0.02em;
  text-align: left;
}
.tariffs__item-plan {
  position: relative;
  padding-left: 38px;
}
.tariffs__item-plan_included:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 19px;
  height: 17px;
  background: url('data:image/svg+xml,<svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3747 16.0609L0.259766 9.94595L3.04644 7.15928L6.3747 10.4974L16.1034 0.758789L18.8901 3.54546L6.3747 16.0609Z" fill="white"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tariffs__item-plan_excluded:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 14px;
  height: 13px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="none" xmlns:v="https://vecta.io/nano"><path fill-rule="evenodd" d="M2.483 1.268c-.198-.185-.461-.285-.732-.281s-.53.115-.721.306-.301.45-.306.721.096.533.281.732l5.189 5.189-5.189 5.189c-.103.096-.185.211-.242.34s-.088.267-.09.407.023.28.076.41.131.249.23.348.218.178.348.23.27.079.41.076a1.05 1.05 0 0 0 .407-.09c.128-.057.244-.14.34-.242l5.189-5.189 5.189 5.189c.096.103.211.185.34.242a1.05 1.05 0 0 0 .407.09c.14.002.28-.023.41-.076s.249-.131.348-.23.178-.218.23-.348.079-.27.076-.41-.033-.279-.09-.407-.14-.244-.242-.34L9.151 7.936l5.189-5.189c.185-.198.285-.461.281-.732s-.115-.53-.306-.721-.45-.301-.721-.306-.533.096-.732.281L7.672 6.458 2.483 1.268z" fill="%23fff"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tariffs__item-button {
  position: relative;
  top: -5px;
  margin-top: -35px;
}

@media (max-width: 1280px) {
  .tariffs__item-wrap {
    padding: 49px 45px 62px 45px;
  }
  .tariffs__item {
    max-width: 372px;
  }
}
@media (max-width: 991px) {
  .tariffs__item {
    max-width: 333px;
  }
}
@media (max-width: 767px) {
  .tariffs {
    padding-top: 48px;
    padding-bottom: 30px;
  }
  .tariffs__title {
    margin-bottom: 62px;
  }
  .tariffs__list {
    display: inline-block;
  }
  .tariffs__item {
    max-width: 100%;
    margin-bottom: 35px;
  }
  .tariffs__item-title {
    margin-bottom: 14px;
  }
  .tariffs__item-title strong {
    font-size: 32px;
    line-height: 41px;
  }
  .tariffs__item-list {
    font-size: 18px;
  }
  .tariffs__item-plan_included:before, .tariffs__item-plan_excluded:before {
    left: 5px;
  }
  .tariffs__item-wrap {
    background: linear-gradient(180deg, #181850 0%, #2D2C75 100%);
    border-radius: 15px;
    border: none;
    padding: 41px 46px 38px 46px;
  }
  .tariffs__item-button {
    top: 0;
    margin-top: 16px;
    width: 100%;
  }
}
.advantages {
  padding-top: 126px;
  padding-bottom: 100px;
}
.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% + 100px);
  margin-left: -50px;
}
.advantages__item {
  max-width: 246px;
  width: 100%;
  text-align: center;
  margin-bottom: 77px;
  margin-left: 50px;
  margin-right: 50px;
}
.advantages__item-icon {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #004D9C 0%, #0052FF 100%);
}
.advantages__item-icon img {
  max-width: 100%;
  padding: 12px;
}
.advantages__item-info {
  font-size: 24px;
  line-height: 143.02%;
  margin-left: auto;
  margin-right: auto;
}
.advantages__list_centered {
  justify-content: center;
}

@media (max-width: 1280px) {
  .advantages__item {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .advantages {
    padding-top: 30px;
  }
  .advantages__title {
    margin-bottom: 67px;
  }
  .advantages__list {
    width: 100%;
    margin-left: 0;
  }
  .advantages__item {
    max-width: 50%;
    margin-bottom: 34px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .advantages__item-icon {
    margin-bottom: 12px;
    width: 70px;
    height: 70px;
  }
  .advantages__item-icon img {
    transform: scale(0.7);
  }
  .advantages__item-info {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding-bottom: 40px;
  }
}
.slider__stores {
  padding-top: 100px;
  padding-bottom: 75px;
}
.slider__slide {
  max-width: 375px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__slide.swiper-slide-active img {
  transform: scale(1);
}
.slider__slide img {
  width: 100%;
  transition: 0.3s;
  transform: scale(0.6);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slider__arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.slider__arrow {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px #fff;
  transition: 0.3s;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="%23fff" xmlns:v="https://vecta.io/nano"><path d="M13.506 1.706L3.712 11.5l9.794 9.794-1.652 1.652L.408 11.5 11.854.054l1.652 1.652z"/><path d="M2.06 12.68v-2.36h20.06v2.36H2.06z"/></svg>');
  background-size: 23px 23px;
  background-position: center center;
  background-repeat: no-repeat;
}
.slider__arrow_next {
  transform: rotate(180deg);
}

@media (max-width: 991px) {
  .slider__slide {
    max-width: 189px;
  }
}
@media (max-width: 767px) {
  .slider__stores {
    padding-top: 26px;
    padding-bottom: 40px;
  }
  .slider__arrows {
    display: none;
  }
  .slider .swiper-slide-prev img {
    position: relative;
    transform: scale(0.6) translateX(20%);
  }
  .slider .swiper-slide-next img {
    position: relative;
    transform: scale(0.6) translateX(-20%);
  }
  .slider__slide {
    max-width: 280px;
  }
}
@media (max-width: 576px) {
  .slider__container {
    padding-left: 0;
    padding-right: 0;
  }
}
.faqs {
  padding-top: 75px;
  padding-bottom: 55px;
}
.faqs__list {
  width: 100%;
  max-width: 893px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.faqs__item {
  display: inline-block;
  width: 100%;
  border: solid 1px #fff;
  border-radius: 8px;
  margin-bottom: 16px;
}
.faqs__item.active .faqs__item-title:before {
  transform: rotate(180deg);
}
.faqs__item.active .faqs__item-content {
  display: block;
}
.faqs__item-title {
  position: relative;
  padding: 11px 50px 11px 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 143.02%;
  cursor: pointer;
}
.faqs__item-title:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 22px;
  right: 25px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 11px solid #ffffff;
  transition: 0.3s;
  transition: 0.3s;
}
.faqs__item-content {
  display: none;
  padding: 11px 26px 11px 26px;
  font-size: 20px;
  line-height: 143.02%;
  border-top: solid 1px #fff;
}

@media (max-width: 991px) {
  .faqs__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .faqs {
    padding-top: 40px;
    padding-bottom: 27px;
  }
  .faqs__item {
    margin-bottom: 9px;
  }
  .faqs__item-title {
    font-size: 20px;
  }
  .faqs__item-content {
    font-size: 20px;
  }
}
.contacts {
  padding-top: 55px;
  padding-bottom: 42px;
  position: relative;
}
.contacts:before {
  content: "";
  position: absolute;
  width: 924px;
  height: 569px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
  display: inline-block;
  background: rgba(0, 82, 255, 0.8);
  filter: blur(150px);
  z-index: -1;
}
.contacts__info {
  max-width: 893px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.contacts__info-item {
  width: 28%;
}
.contacts__info-item:nth-of-type(2) {
  padding-left: 25px;
  padding-right: 25px;
}
.contacts__info-item strong {
  font-weight: 600;
}
.contacts__info-item a {
  display: inline-block;
  width: 100%;
}
.contacts__info-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.contacts__info-cards img {
  max-width: 100%;
  margin: 0 11px;
}
.contacts__info-text {
  margin-bottom: 18px;
  display: inline-block;
}

@media (max-width: 991px) {
  .contacts:before {
    display: none;
  }
  .contacts__info-item {
    width: 100%;
    text-align: center;
  }
  .contacts__info-text {
    display: block;
  }
  .contacts__info-cards {
    margin-top: 26px;
  }
  .contacts__info-cards img {
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  .contacts {
    padding-top: 27px;
    padding-bottom: 20px;
  }
  .contacts__title {
    margin-bottom: 35px;
  }
}
.footer {
  padding-top: 42px;
  padding-bottom: 66px;
}
.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__col {
  width: 33.3333333%;
}
.footer__copyright {
  font-weight: 500;
  font-size: 20px;
  line-height: 159.02%;
  color: #D9D9D9;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social {
  margin: 0 11px;
  transition: 0.3s;
}
.footer__social:hover {
  opacity: 0.6;
}
.footer__logo {
  text-align: right;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 25px;
  }
  .footer__socials {
    order: 1;
    margin-bottom: 37px;
  }
  .footer__copyright {
    order: 2;
    font-size: 18px;
  }
  .footer__col {
    width: 100%;
    text-align: center;
  }
}

.lineBg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26%;
  display: none;
}
.lineBg img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
  pointer-events: none;
  opacity: 0.15;
}
@media (max-width: 576px) {
  .lineBg{
    display: block;
  }
}